* {
    margin: 0;
    padding: 0;
    color: white;
    h1, p {color: white; padding: 0 0 5px 0;}
}

button { 
    background-color: white;
    color: black;
    border: none;
    border-radius: 2.5px;
    padding: 5px;
    margin: 5px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: #75b7f8;
        color: rgb(255, 255, 255);
    }
}
body #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: -webkit-linear-gradient(top left, #1184F9, #462739);
    background: -moz-linear-gradient(top left, #1184F9, #462739);
    background: linear-gradient(to bottom right, #1184F9, #462739);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    padding: 20px;
    &__menu{
        text-align: center;
        width: 10vw;
        padding: 10px;
        background: -webkit-linear-gradient(top left, #1184F9, #3b5e86);
        background: -moz-linear-gradient(top left, #1184F9, #3b5e86);
        background: linear-gradient(to bottom right, #1184F9, #3b5e86);
        border-bottom: solid 2px 	#000000;
        border-left: solid 2px 	#000000;
        border-right: solid 2px 	#000000;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        position: absolute;
        top:0;
        left: 15vw;
    }
    &__change {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        a, p {
            color: #EDF5E1;
            padding: 10px;
            text-decoration: none;
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.list {
    &__name {
        width: 100%;
        text-align: center;
    }
    &__main {
        max-height: 60vh;
    }
    &__container {
        display: flex;
        
    }
    width: 600px;
    height: 90vh;
    background: -webkit-linear-gradient(top left, #1184F9, #3b5e86);
    background: -moz-linear-gradient(top left, #1184F9, #3b5e86);
    background: linear-gradient(to bottom right, #1184F9, #3b5e86);
    border: solid 2px 	#000000;
    border-radius: 20px;
}

@media (max-width: 1300px) {
    .center__menu {
        position:relative;
        width: 100%;
        left: 0;
        padding: 0;
    }
    .center__change {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
}


::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px
}
    
::-webkit-scrollbar-track {
    background-color:none;
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#178fff;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}
    
::-webkit-resizer{
    background-repeat:no-repeat;
    width:7px;
    height:0px
}
    
::-webkit-scrollbar{
    width: 11px;
}