.profile {
    margin: 15px;
    display: grid;
    grid-template-columns: 40% 60%;
    &__image {
        grid-column: 1;
        height: 200px;
        width: 180px;
        img { width: 100%; height: 100%;}
    }
    &__info {
        grid-column: 2;
    }
    &__text {
        margin: 15px;
    }

}