.messages {
    margin: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    &__left {
        grid-column: 1;
    }
    &__right {
        grid-column: 2;
    }
    &__message {
        margin: 5px;
        &_your {
            display:flex;
            justify-content: flex-end;
            margin-right: 15px;
        }
    }
}