.messages {
    margin: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    &__left {
        grid-column: 1;
    }
    &__right {
        grid-column: 2;
    }
    &__message {
        margin: 5px;
        &_your {
            margin: 5px;
            display:flex;
            justify-content: flex-end;
            margin-right: 15px;
        }
    }
    &__write {
        width: 100%;
        height: 40px;
        resize: none;
        background-color: #8EE4AF;
        color: #EDF5E1;
        padding: 5px 0 0 5px;
        border: none;
    }
    &__button {
        color: #EDF5E1;
        padding: 5px 15px;
        border: none;
        background-color: #59b47c;
        float: right;
        transition: 0.5s;
        &:hover {            
            background-color: #89f1b1;
            transition: 0.5s;
        }
    }
}